*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.jks
*.keystore
/backend/functions/node_modules/
.kotlin/
google-services.json
*firebase-adminsdk*
sensixpert-api-temp/
